

.header { 
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  /*height: 100vh; нам это нужно? */
  justify-items: center;
  align-items: center;
  width: 100%; /* занимаем всю ширину родителя*/
  padding: 94px 24px;
  box-sizing: border-box; /*гарантирует, что padding входит в ширину, и шапка не будет шире, чем родительский контейнер.*/
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}


.header__links-list {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-right: 5px;

}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  height: 105px;
  width: 148px;
}

.header__address {
  display: grid;
  margin-left: 125px;
  font-style: normal;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
}



/*Ниже идет вся поляна*/

.cover {
  background-image: url('/images/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cover__title {
  height: 757px;
  gap: 0px;
  opacity: 0.6px;
  padding: 165px 50px 237px 50px;
  position: relative;
  color: #FFFFFF;
  z-index: 2;

}

.line {
  display: inline-block;
  position: absolute;
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.line__top {
  top: 165px;
  left: 50px;
}

.line__middle {
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); сдвигает к центру от своей собственное ширины и высоты*/
  top: 292px;
  left: 336px;
}

.line__bot {
  top: 412px;
  left: 635px;
}

/*.letter.letter-spacing-extended {
  letter-spacing: 20px;
}*/

.no-letter-spacing {
  letter-spacing: 0px;
}

.top__letter {
  position: absolute;
  left: 240px;
}

.middle__letter {
  position: absolute;
  left: 309px;
}

.bot__letter {
  position: absolute;
  left: 135px;
}


.cover.overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cover__description {
  display: flex;
  position: relative;
  z-index: 2;
}

.cover__description-text {
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  left: 78px;
  bottom: 62px;
  word-spacing: 20px;
  position: absolute;
  
  
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px 0px 0px 0px;
  border-color: white;
  opacity: 0px;
  background-color: transparent;
  position: absolute;
  right: 50px;
  bottom: 51px;
}

.bet-button-text {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
}

.content__1 {
  margin-bottom: 179px;
}


.lots {
  padding-left: 24px;
  padding-right: 24px;
}


.lots__heading {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 40px;
}


.card_type_film {
  background-image: url('/images/card-lot-01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card_type_book {
  background-image: url('/images/card-lot-02.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card_type_picture {
  background-image: url('/images/card-lot-03.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}







.card {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.card__content {
  padding: 51px 40px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.lots__card-list-item {
  width: 334px;
  height: 563px;
  flex-grow: 1;
}

.lots__card-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 27px;
  flex-direction: row;
  
}

.card__title {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration-line: underline;
}

.card__text {
  display: flex;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400px;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;
}

.see__more {
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 146px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-align: left;
  text-decoration: underline;
}

/*Ниже раздел ОБ АУКЦИОНЕ*/

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
  "logo title"
  ". text"
  ;
  justify-items: center; /*нужно ли?*/
  align-items: center; /*нужно ли?*/
  padding-top: 35px;
  padding-left: 11px;
  
}

.about__logo {
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 62%;
}

.about__logo {
  grid-area: logo;

}

.about__title {
  grid-area: title;
  justify-self: start;

  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  padding: 10px 0px 0px 10px;

}

.about__text {
  grid-area: text;

  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  
  text-align: left;
  padding: 10px 30px 180px 10px;
}


/*ВНИЗУ ФУТЕР*/
.footer__menu {
  padding: 0px 50px 88px 50px;
}

.footer__column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.footer__adress {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  justify-self: flex-start;
  padding-left: 50px;
}

.footer__menu {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;

}
.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;*/
  /*padding: 0px 30px 0px 30px;*/
  width: 100%;
  gap: 48px;
  padding-right: 50px;
  justify-content: flex-end;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}




.footer__menu-list-item, 
.footer__social-list-item {
  list-style: none;
}















